body {
    text-align: center;
	background: linear-gradient(lightgreen, green);
}

#container {
	display: table; 
	height: 160px;
	width: 100%; 
	overflow: hidden;
}

#score-board {
	display: table-cell; 
	vertical-align: middle;
	background-color: lightgreen;
	color: #ADFF17;
	font-size: 4em;
}

#close-modal 
{
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	background-color: green;
	color: white; 
	padding: 2px;  
}

.modalDialog {
	position: fixed;
	font-family: ArcadeClassic;
	font-size: 20px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: lightgreen;
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 5px;
	background: #fff;
	background: -moz-linear-gradient(#E8FB2D, #ADFF17);
	background: -webkit-linear-gradient(#E8FB2D, #ADFF17);
	background: -o-linear-gradient(#E8FB2D, #ADFF17);
}